<section class="product-grids section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12">
                <div *ngIf="isLoading">Đang tải...</div>
                <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
                <!-- Start Product Sidebar -->
                <div class="product-sidebar">
                    <!-- Start Single Widget -->
                    <!-- <div class="single-widget search">
                        <h3>Tìm kiếm sản phẩm</h3>
                        <form action="#">
                            <input type="text" placeholder="tìm kiếm tại đây..">
                            <button type="submit"><i class="lni lni-search-alt"></i></button>
                        </form>
                    </div> -->
                    <!-- End Single Widget -->
                    <!-- Start Single Widget -->
                    <div class="single-widget">
                        <h3>Danh Mục</h3>
                        <ul class="list">
                            <li class="category-list" *ngFor="let category of categoryList" (click)="onCategoryChange(category.id)"
                                [ngClass]="{'selected': category.id === selectedCategoryId}">
                                {{ category.name }}
                            </li>

                        </ul>
                    </div>


                    <!-- End Single Widget -->

                    <!-- Start Single Widget -->
                    <div class="single-widget condition">
                        <h3>Tìm Kiếm Theo Giá</h3>
                        <div class="form searchByPrice">
                            <input type="text" class="searchByPrice-item" placeholder="đ Từ" #priceFrom>
                            <span>----</span>
                            <input type="text" class="searchByPrice-item" placeholder="đ Đến" #priceTo>
                        </div>
                        <button type="submit" class="btn btn-primary searchByPrice-item-submit"
                            (click)="applyPriceFilter(priceFrom.value, priceTo.value)">
                            Áp Dụng
                        </button>
                    </div>

                    <!-- End Single Widget -->
                    <!-- Start Single Widget -->
                    <div class="single-widget condition">
                        <h3>Tìm Kiếm Theo Thương Hiệu</h3>
                        <div *ngFor="let brand of brandList" class="form-check">
                            <input class="form-check-input" type="radio" 
                                [value]="brand.id" 
                                [id]="'brand' + brand.id"
                                name="brandFilter"  
                                (change)="onBrandChange(+brand.id)">
                    
                            <label class="form-check-label" [for]="'brand' + brand.id">
                                {{ brand.name }}
                            </label>
                        </div>
                    </div>
                    
                    

                    <!-- End Single Widget -->
                </div>
                <!-- End Product Sidebar -->
            </div>
            <div class="col-lg-9 col-12">
                <div class="product-grids-head">
                    <div class="product-grid-topbar">
                        <div class="row align-items-center">
                            <div class="col-lg-7 col-md-8 col-12 d-flex ">
                                <div class="product-sorting ">
                                    <label for="sorting">Sắp Xếp:</label>
                                    <select class="form-control" id="sorting" (change)="onSortChange($event)">
                                        <option value="newest">Mới Nhất</option>
                                        <option value="price_desc">Giá Cao → Thấp</option>
                                        <option value="price_asc">Giá Thấp → Cao</option>
                                    </select>
                                    
                                </div>
                                <div class="pageSize-select">
                                    <div class="pageSize-show">Hiển Thị: <span>{{ pageSize }} sản phẩm</span></div>
                                    
                                    <select class="form-control" id="pageSize" (change)="onPageSizeChange($event)">
                                        <option value="6_per_page">6</option>
                                        <option value="12_per_page">12</option>
                                        <option value="24_per_page">24</option>
                                    </select>
                                </div> 
                            </div>
                            <div class="col-lg-5 col-md-4 col-12">

                            </div>
                        </div>
                    </div>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade active show" id="nav-grid" role="tabpanel"
                            aria-labelledby="nav-grid-tab">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-12" *ngFor="let product of products">
                                    <!-- Start Single Product -->
                                    <div class="single-product">
                                        <div class="product-image">
                                          <img [src]="imageBaseUrl +product.imageUrl" alt="{{ product.name }}">
                                          <!-- <div class="button">
                                            <a [routerLink]="['/product-details', product.id]" class="btn">
                                              <i class="lni lni-cart"></i> Add to Cart
                                            </a>
                                          </div> -->
                                        </div>
                                        <div class="product-info">
                                          <h4 class="title">
                                            <a [routerLink]="['/product-grids', product.id]">{{ product.name }}</a>
                                          </h4>
                                          <ul class="review">
                                            <!-- <li *ngFor="let star of [1,2,3,4,5]; let i = index">
                                              <i [class.lni-star-filled]="i < product.rating" 
                                                 [class.lni-star]="i >= product.rating"></i>
                                            </li>
                                            <li><span>{{ product.rating }} Review(s)</span></li> -->
                                          </ul>
                                          <div class="price">
                                            <span>Giá: {{ getPriceRange(product) }}</span>
                                          </div>
                                        </div>
                                      </div>
                                    <!-- End Single Product -->
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="pagination">
                                        <button (click)="onPageChange(currentPage - 1)"
                                            [disabled]="currentPage === 1">Trước</button>

                                        <button *ngIf="pagesToShow[0] > 1" (click)="onPageChange(1)">1</button>
                                        <span *ngIf="pagesToShow[0] > 2">...</span>

                                        <button *ngFor="let page of pagesToShow" (click)="onPageChange(page)"
                                            [class.active]="currentPage === page">
                                            {{ page }}
                                        </button>

                                        <span *ngIf="pagesToShow[pagesToShow.length - 1] < totalPages - 1">...</span>
                                        <button *ngIf="pagesToShow[pagesToShow.length - 1] < totalPages"
                                            (click)="onPageChange(totalPages)">{{ totalPages }}</button>

                                        <button (click)="onPageChange(currentPage + 1)"
                                            [disabled]="currentPage === totalPages">Sau</button>
                                    </div>
                                    <!--/ End Pagination -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>